# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- DATOS ---
# 1. Ignoramos todo el contenido de las carpetas de datos
data/raw/**/*
data/processed/**/*
data/external/**/*

# 2. Permitimos que Git rastree las carpetas
!data/raw/**/
!data/processed/**/
!data/external/**/

# 3. Permitimos los archivos .gitkeep
!**/.gitkeep

# --- IDEs ---
.vscode/
.idea/
.DS_Store
*.ipynb_checkpoints
